div#countdown {
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: #24c7b1;
    font-weight: bold;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img.foto-convidado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: 50%;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
.h2-convidados {
    font-weight: bold;
    color: #24c7b1;
    text-align: center;
}

.h3-convidado, .h4-profissao {
    font-weight: bold;
    color: #1b1b1b;
    text-align: center;
}

div.texto-sobre {
    margin-left: 25px;
}

.h2-sobre {
    font-weight: bold;
    color: #1b1b1b;
    text-align: center;
}

.p-sobre {
    color: #1b1b1b;
}

#groupPhotos {
    background-color: #79b5af;
}

.h2-fotos, .p-fotos {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}


.section1 {
    background-image: url("../assets/desktop/header1.png");
    background-color: #24c7b1;
}

.section1-title {
    color: #fff;
    font-size: 3.2rem;
    padding: 100px 20px 0px 50px;
    -webkit-text-stroke: 2px #24c7b1;
}

.section1-description {
    color: #fff;
    font-style: italic;
    padding: 30px 50px 0px 50px;
}

.section1-cta {
    margin: 30px 50px 100px 50px;
    background-color: #00E0FF;
    border-color: #00E0FF;
    font-size: 1.5rem;
    border-radius: 1.7rem;
    padding: 10px 20px 10px 20px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-text-stroke: 1px #356E72;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;

}

.logo {
  max-height: 100px;
}

.navbar-light .navbar-toggler {
  background-color: #24c7b1;
}

@media screen and (max-width: 768px) {
.navbar {
  background-color: #fff;
}
.logo {
  max-height: 70px;
}

.section1 {
    background-image: none;
}

.section1-title {
    color: #fff;
    font-size: 3.2rem;
    padding: 50px 20px 0px 50px;
    -webkit-text-stroke: none;
}

.section1-cta {
    margin: 30px 50px 50px 50px;
}

}

.section2 {
    background-color: #ffffff;
}

.section3 {
    background-color: #add9d1;
    padding-top: 50px;
    padding-bottom: 50px;
}

img.icon-naosurta {
    display: none;
}

.section4 {
    background-color: #79b5af;
}

.section5 {
    padding: 15px;
    background-color: #356E72;
    text-align: center;
}

.btSocialMedia{
    padding-left: 50x;
    padding-right: 50px;
}

@media (min-width: 768px) {

    div.texto-sobre {
        margin-left: 0px;
    }

    .h2-sobre {
        font-weight: bold;
        color: #1b1b1b;
        text-align: start;
    }

    .section3 {
        background-color: #add9d1;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section3-image {
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: url('../assets/desktop/ELEMENTOS\ 1.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    img.icon-naosurta {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        border-radius: 50%;
    }

}

/* -------------------------------- VERSÃO MOBILE ---------------------------------*/


@media screen and (max-width: 768px) {
    img.imgButton{
        width: 40px;
        height: 40px;
    }

    .btSocialMedia{
        padding-left: 30x;
        padding-right: 30px;
    }

}

/* ----------------------------------- JANELA POP UP ------------------------------------------- */

* {
    box-sizing: border-box;
}

#popup {
    display: none;
}

.popup__wrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.popup__container {
    background: #fff;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 100px auto;
    max-width: 100%;
    padding: 20px;
    width: 500px;
    text-align: center;
    position: relative;
}

.popup__title {
    font-size: 26px;
    margin-bottom: 15px;
    padding: 6%;
    text-align: center;
    color: #24c7b1;

}
.exit{
    position: absolute;
    top: 3%;
    right: 2.3%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #d12121;
    background-color: #d12121;
    color: white;
    cursor: pointer;
}
